@page "/testcases/new"
@using RqmtMgmtShared
@inject ITestCaseService TestCaseService
@inject NavigationManager Navigation

<h3>New Test Case</h3>
<TestCaseForm OnSaved="OnSaved" />

@code {
    void OnSaved()
    {
        Navigation.NavigateTo("/testcases");
    }
}