<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">frontend</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="requirements">
                <span class="bi bi-file-earmark-text-nav-menu" aria-hidden="true"></span> Requirements
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="testsuites">
                <span class="bi bi-collection-nav-menu" aria-hidden="true"></span> Test Suites
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="testcases">
                <span class="bi bi-file-earmark-check-nav-menu" aria-hidden="true"></span> Test Cases
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="testplans">
                <span class="bi bi-journal-code-nav-menu" aria-hidden="true"></span> Test Plans
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="bi bi-person-lines-fill-nav-menu" aria-hidden="true"></span> Users
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
